body{
    margin: 0; padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
    /* color: blue; */
    /* background-color: aqua; */
    /* display: flex;
    justify-content: center; */
}

.main_container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-color:var(--background);
    height: 100vh;
}

.main_container .msg {
    display: flex;
    flex-direction:column;
    height: 300px;
    width: 550px;
    background-color:var(--background_light);
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 5px 15px rgba(0,0,0,.250);
}

.main_container .msg .title{
    width: 100%;
    height: 100px;
    background-color:var(--light_blue);
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main_container .msg .emp_details{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.main_container .msg .emp_details .picture{
    width: 150px;
    height: 150px;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--background_light);
}

.main_container .msg .emp_details .picture img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border:solid 2px rgba(0, 0, 0, 0.459);
    /* padding: 3px; */
}

.main_container .msg .emp_details .details{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    background-color: var(--background_light);
    border-bottom-right-radius: 10px;
}

.main_container .msg .emp_details .details .button{ 
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#button {
    margin: 10px;
    width: 100px;
    height: 30px;
    color: white;
    border: none;
    font-weight: bold;
    box-shadow: 3px 5px 15px rgba(0,0,0,.250);
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.856);
}
#button :hover{
    box-shadow: 3px 5px 15px rgba(0,0,0,.50);
}

@media screen and (max-width: 450px){
    .main_container .msg .emp_details{
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .main_container .msg .title{
        width: 100%;
        height: 100px;
        background-color: blue;
        text-align: center;
        font-weight: bolder;
        font-size:large;
    }

    .main_container .msg {
        display: flex;
        flex-direction:column;
        height: 300px;
        width: 400px;
        background-color:var(--background);
        margin: auto;
    }
    .main_container .msg .emp_details .details{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--background_light);
    }
    .main_container .msg .emp_details .picture{
        width: 100px;
        height: 100px;
        /* padding: 5px; */
        border-radius: 50%;
        background-color: var(--background_light);
    }
    
    .main_container .msg .emp_details .picture img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border:solid 2px rgba(0, 0, 0, 0.459);
        /* padding: 3px; */
    }
}