body{
    margin: 0; padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    /* background-color: aqua; */
}

input {
   outline: none !important;
   border-style: none;
   border-bottom: solid 1px;
   
}

.add_employee_main_container {
    width: auto;
    margin: 15%;
    margin-top: 2%;
    padding-bottom: 10px; 
        /* just look boarder radius */
    height: auto;
    background-color:white;
    border-radius: 5px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add_employee_main_container .title {
    text-align: center;
    font-size:x-large;
    /* background-color: var(--blue); */
}

.add_employee_main_container .input_feild {
    max-width: 100%;
}

.add_employee_main_container .input_feild form {
    max-width: 100%;
    opacity: 75%;
    display: flex;
    flex-direction: column;
}

.add_employee_main_container .input_feild form div {
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.add_employee_main_container .input_feild div label {
    display: block;
    width: 150px;
    /* background-color: aqua; */
}

.add_employee_main_container .input_feild div input {
    padding-left: 10px;
}

.add_employee_main_container .input_feild form .address{
    display: flex;
    flex-direction: column;
}

.add_employee_main_container .input_feild form div .address_content {
    max-width: 100%;
}

.add_employee_main_container .input_feild form div .address_content label{
    display: block;
    width: 90px;
    text-align: end;
    padding: 4px;

}

.add_employee_main_container .input_feild form div select {
    padding: 4px;

}

.add_employee_main_container .input_feild form .buttons {
    display: flex;
    justify-content: space-between;
}

.add_employee_main_container .input_feild form .buttons button {
    width: 150px;
    color: rgb(255, 255, 255);
    font-size: large;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    box-shadow: 3px 5px 15px rgba(0,0,0,.50);
    border-style: none;
    /* box-shadow: 3px 6px 6px ; */
}

.add_employee_main_container .input_feild form .buttons #cancel {
    background-color: red;
}

.add_employee_main_container .input_feild form .buttons #add {
    background-color: blue;
}


.add_employee_main_container .input_feild form .buttons  :hover{
    height: 41px;
    width: 152px;
    box-shadow: 3px 5px 15px rgba(0,0,0,.75);
}

.add_employee_main_container .input_feild form .image {
    /* padding-right: 80px; */
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: none;
}

.add_employee_main_container .input_feild form .image input {
    border-style: none;
}

.add_employee_main_container .input_feild form .image .upload #image{
    background-color: blue;
    border-style: none;
    border-radius: 5px;
    text-align: center;
    /* color: white; */
    cursor: pointer;
}

.add_employee_main_container .input_feild form .upload :hover {
    /* background-color:rgb(163, 194, 230); */
    box-shadow: 3px 5px 15px rgba(0,0,0,.25);
    /* color: white; */

}

.add_employee_main_container .input_feild form .upload #image {
    max-height: 20px;
}


@media screen and (max-width: 824px){
    .add_employee_main_container {
        margin: 4%;
    }
}

@media screen and (max-width: 737px) {

    .add_employee_main_container {
        margin: 1%;
    }

    .add_employee_main_container .input_feild form div {
        display: flex;
        flex-direction: column;
    }
    .add_employee_main_container .input_feild form div .address_content {
        display: flex;
        flex-direction: column;
    }

    .add_employee_main_container .input_feild form div .address_content label {
        text-align:start;
        padding: 8px;
    }

    .add_employee_main_container .input_feild form .marital {
        display: flex;
        flex-direction: row;
    }

    .add_employee_main_container .input_feild form .gender {
        display: flex;
        flex-direction: row;
    }

    .add_employee_main_container .input_feild form .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}