body{
    margin: 0; padding: 0; 
    font-family: Roboto, sans-serif;
    background-color:var(--background);
    
}

input {
   outline: none !important;
   font-size: medium;
   border-style: none;
   border-bottom: solid 1px rgba(0, 0, 0, 0.418);
   color: var(--header_dark);  
   width: 90%;
}

.main_container {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    padding: 10px;
    height: 100%;
    transition: 0.5s;
    margin: 0 5px 0 255px;
}

.add_employee_main_container {
    max-width: 100%;
    padding-bottom: 10px;
    height: auto;
    background-color:var(--background_light);
    display: flex;
    justify-content: center;
    transition: 0.5s;
}

.add_employee_main_container .supervisor_list {
   
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding-bottom: 10px;
    box-shadow: 3px 5px 15px rgba(0,0,0,.50);
}

 .add_employee_main_container .supervisor_list  table{
    /* opacity: 75%; */
    background-color: var(--background_light);
    color: rgba(0, 0, 0, 0.753);
    /* border-collapse: collapse; */
    border-spacing: 0;
    border: 1px solid rgb(121, 117, 117);
    max-width: 100% !important;
    width: 290px ;
    z-index: -1;
}

.add_employee_main_container .supervisor_list p{
    font-size: large;
    color: var(--header);
}

.add_employee_main_container .supervisor_list table .id {
    /* width: 10px; */
    padding-left: 3px;
}

.add_employee_main_container .supervisor_list table td{
    border:1px solid var(--background);
    padding-left: 3px;
}
.add_employee_main_container .supervisor_list tbody {
    display:block;
    height:200px;
    overflow:auto;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.add_employee_main_container .supervisor_list thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.add_employee_main_container .supervisor_list tr th {
    height: 50px;
    background-color: #0f9eb8;
    color: white;
}

.add_employee_main_container .form{
    width: 65%;
    margin-left: 8px;
    height: auto;
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    box-shadow: 3px 5px 15px rgba(0,0,0,.50);
}

.add_employee_main_container .form svg{
    display: block;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 5px;
}
.add_employee_main_container .form .title {
    text-align: center;
    font-size:x-large;
    font-weight: bold;
    margin-top: 0;
    max-width: 500px;
}

.add_employee_main_container .form .input_feild {
    max-width: 100%;
}



.add_employee_main_container .form .input_feild form table {
    padding: 5px;
    
}
.add_employee_main_container .form .input_feild form table tr{
   max-width: 896px !important;
}
.add_employee_main_container .form .input_feild form table tr th{
    max-width: 110px;
    height: 20px;
}

.add_employee_main_container .form .input_feild form table tr td{
    
    text-align:left;
    height: 50px;
    
}

#c2{
    text-align: left;
    /* width: 200px; */
    padding-left: 50px;
}

#province, #user_role, #department, #designation {
    width: 90%;
    font-size: large;
    color: var(--header_dark);
    border-style: none;
    border-bottom:1px black;
}

.add_employee_main_container .form .input_feild form table tr td select option{
    font-size: large;
    color: var(--header_dark);
    width: 100%;
}

.add_employee_main_container .form .input_feild form div select {
    border-radius: 3px;  
    height: 30px;
    padding: 4px;
    font-size: large;
    color: var(--header_dark);
}

.add_employee_main_container .form .input_feild form div select option{
    font-size: large;
    color: var(--header_dark);
}

.add_employee_main_container .form .input_feild form table button {
    width: 150px;
    border-radius: 100px;
    color: var(--header);
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    letter-spacing: 2px;
    
}

.add_employee_main_container .form .input_feild form #cancel {
    background-color: #6fccee;
    border: 1.5px solid var(--header);
}

.add_employee_main_container .form .input_feild form #add {
    background-color: #fcfaf9;
    color: var(--red);
    border: 1.5px solid black;
}


.add_employee_main_container .form .input_feild form table #cancell :hover{
    box-shadow: 0px 2px 5px var(--header);
    transform: scale(1.05);
    border-style: none;
}

.add_employee_main_container.form .input_feild form .image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: none;
}

.add_employee_main_container .form .input_feild form .image input {
    border-style: none;
}

.add_employee_main_container .form .input_feild form  #image{
    background-color: rgb(130, 130, 231);
    border-style: none;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

.add_employee_main_container .form .input_feild form .upload :hover {
    box-shadow: 3px 5px 15px rgba(0,0,0,.25);
}

.add_employee_main_container .form .input_feild form .upload #image {
    max-height: 20px;
}

#pwd{
    max-width: 90%;
    padding: 0;
}

#fval, #lval ,#nicval{
    font-size: small;
    font-weight: bold;
    margin: 0;
    display: none;
    color: red;
}

#message{
    margin: 10px;
    display: none;
}

@media screen and (max-width: 1000px){
    .add_employee_main_container {
        max-width: 100%;
        flex-direction: column-reverse;
    }

    .add_employee_main_container .form{
        width: 100%;
        margin: 0px;
        margin-bottom: 10px;
    }

    .add_employee_main_container .supervisor_list{
        width: 100%;
        margin: 0px;
    }
    .add_employee_main_container .form .input_feild form table tr{
        max-width: 100% !important;
     }
     .add_employee_main_container .form .input_feild form table tr th{
         max-width: 35px;
         height: 15px;
     }

}

@media screen and (max-width: 737px) {

    .add_employee_main_container {
        margin: 1%;
    }

    .add_employee_main_container .form .input_feild form div {
        display: flex;
        flex-direction: column;
    }

    #c2{
        text-align: left;
        /* width: 200px; */
        padding-left: 1px;
    }
}
