body{
    margin: 0; padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
    background-color:var(--background_light);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
   outline: none !important;
   font-size: large;
   border-style: none;
   border-bottom: solid 1px rgba(0, 0, 0, 0.418);
   color: var(--header_dark);  
}

.add_employee_main_container {
    width: 100%;
    padding-bottom: 10px; 
    height: auto;
    background-color:var(--background_light);
    display: flex;
    justify-content: center;
}

.add_employee_main_container .supervisor_list {
   
    width: 30%;
    background-color:var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 8px;
    padding-bottom: 10px;
    box-shadow: 3px 5px 15px rgba(0,0,0,.50);
}

.add_employee_main_container .supervisor_list  table{
    opacity: 75%;
    background-color: var(--background_light);
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid rgb(121, 117, 117);
    max-width: 100% !important;
    width: 290px ;
}

.add_employee_main_container .supervisor_list p{
    font-size: large;
    color: var(--header);
}

.add_employee_main_container .supervisor_list table .id {
    width: 10px;
    padding-left: 3px;
}

table td{
    border:1px solid var(--background);
    padding-left: 3px;
}
tbody {
    display:block;
    height:200px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}

.add_employee_main_container .form{
    width: 70%;
    margin: 8px;
    padding-bottom: 10px; 
    height: auto;
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    box-shadow: 3px 5px 15px rgba(0,0,0,.50);
}

.add_employee_main_container .form .title {
    text-align: center;
    font-size:x-large;
    font-weight: bold;
}

.add_employee_main_container .form .input_feild {
    max-width: 100%;
}

.add_employee_main_container .form .input_feild form {
    width: 100%;
    opacity: 75%;
    display: flex;
    flex-direction: column;
}

.add_employee_main_container .form .input_feild form div {
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.add_employee_main_container .form .input_feild div label {
    display: block;
    width: 200px;
    height: 30px;
}

.add_employee_main_container .form .input_feild div input {
    padding-left: 10px;
    width: 100%;
}


.add_employee_main_container .form .input_feild form .address{
    display: flex;
    flex-direction: column;
}

.add_employee_main_container .form .input_feild form div .address_content {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    max-width: 100%;
}
.add_employee_main_container .form .input_feild form div .address_content input {
    padding-left: 10px;
    height: 30px;   
}


.add_employee_main_container .form .input_feild form div .address_content label {
    display: block;
    width: 150px;
    text-align:left;
    padding: 4px;

}

.add_employee_main_container .form .input_feild form .marital input {
    width: 40px;
    padding-left: 10px;
    height: 15px;
}

.add_employee_main_container .form .input_feild form .gender input {
    width: 40px;
    padding-left: 10px;
    height: 15px;
}

.add_employee_main_container .form .input_feild form div select {
    border-radius: 3px;  
    height: 30px;
    padding: 4px;
    font-size: large;
    color: var(--header_dark);
}

.add_employee_main_container .form .input_feild form div select option{
    font-size: large;
    color: var(--header_dark);
}

.add_employee_main_container .form .input_feild form .buttons {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.add_employee_main_container .form .input_feild form .buttons button {
    width: 150px;
    color: rgb(255, 255, 255);
    font-size: large;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    box-shadow: 3px 5px 15px rgba(0,0,0,.50);
    border-style: none;
}

.add_employee_main_container .form .input_feild form .buttons #cancel {
    background-color: red;
}

.add_employee_main_container .form .input_feild form .buttons #add {
    background-color: blue;
}


.add_employee_main_container .form .input_feild form .buttons  :hover{
    height: 41px;
    box-shadow: 3px 5px 15px rgba(0,0,0,.75);
}

.add_employee_main_container.form .input_feild form .image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: none;
}

.add_employee_main_container .form .input_feild form .image input {
    border-style: none;
}

.add_employee_main_container .form .input_feild form .image .upload #image{
    background-color: rgb(130, 130, 231);
    border-style: none;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

.add_employee_main_container .form .input_feild form .upload :hover {
    box-shadow: 3px 5px 15px rgba(0,0,0,.25);
}

.add_employee_main_container .form .input_feild form .upload #image {
    max-height: 20px;
}

.pwd input {
    max-width: 50%;
}

#fval, #lval ,#nicval{
    font-size: small;
    font-weight: bold;
    margin: 0;
    display: none;
    color: red;
}

#message{
    margin: 10px;
    display: none;
}

.foot{
    width:100%;
    height:70px;
    background-color: #5016d0;
    display:flex;
    justify-content:center;
}

.fot{
    color:white;
    margin:auto;
}

@media screen and (max-width: 1000px){
    .add_employee_main_container {
        max-width: 100%;
        flex-direction: column-reverse;
    }

    .add_employee_main_container .form{
        width: 100%;
        margin: 0px;
        margin-bottom: 10px;
    }

    .add_employee_main_container .supervisor_list{
        width: 100%;
        margin: 0px;
    }

}

@media screen and (max-width: 737px) {

    .add_employee_main_container {
        margin: 1%;
    }

    .add_employee_main_container .form .input_feild form div {
        display: flex;
        flex-direction: column;
    }
    .add_employee_main_container .form .input_feild form div .address_content {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    .add_employee_main_container .form .input_feild form div .address_content label {
        text-align:start;
        padding: 8px;
    }

    .add_employee_main_container .form .input_feild form .marital {
        display: flex;
        flex-direction: row;
    }

    .add_employee_main_container .form .input_feild form .gender {
        display: flex;
        flex-direction: row;
    }

    .add_employee_main_container .form .input_feild form .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
