@import "color.css";
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--background);
    font-family: Roboto, sans-serif;
}

.main_container {
    /*width: 100%;*/
    margin-top: 0;
    /*border-radius: 10px;*/
    background-color: white;
    padding: 10px;
    /*margin-left: 255px;*/
    height: 100vh;
    /*transition: 0.5s;*/
}

.form_head {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.employee_details {
    margin: 0 10px 10px 0;
    height: max-content;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*background-color: chocolate;*/
    float: left;
}

.employee_details img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    /*margin: 10px;*/
    margin-right: 10px;
}

.employee_details p {
    text-align: center;
    margin: 0;
    color: var(--h1);
    font-weight: bold;
    font-size: large;
    vertical-align: middle;
}

.testbox {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    height: inherit;
    padding: 3px;
}

.testbox form {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, .15);
    height: max-content;
}

.testbox div h1 {
    font-size: x-large;
    color: var(--f);
    text-align: left;
    margin: 10px;
    font-weight: bold;
    float: right;
}

.testbox h3 {
    text-align: center;
}

.testbox table {
    width: 100%;
    padding: 10px;
}

th, td {
    width: 15%;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
    vertical-align: unset;
    line-height: 18px;
    font-weight: 400;
    word-break: break-all;
}

td input {
    /*width: calc(10% - 10px);*/
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: middle;
    height: 10px;
    width: 10px;
}

td input:hover,
textarea:hover {
    outline: none;
    border: 1px solid #095484;
}

.first-col {
    width: 16%;
    text-align: left;
}

/*.btn-block {*/
/*    margin-top: 20px;*/
/*    text-align: center;*/
/*}*/

.testbox button {
    width: 150px;
    padding: 10px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #2828CF;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    /*margin-top: 15px;*/
    margin: 15px;
    margin-right: 5px;
    float: right;
}

.testbox button:hover {
    background-color: #0666a3;
}

.fot {
    width: 100%;
    position: absolute;
    bottom: 0;
}

@media (min-width: 568px) {
    th,
    td {
        word-break: keep-all;
    }
}