@import "color.css";

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, serif;
    background-color: #c4d9f3;
}

.handling_title {
    width: 100%;
    font-size: xx-large;
    color: var(--header);
    text-align: center;
    justify-content: center;
}

.approve-container {
    padding-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-approve {
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, .50);
    width: 50%;
    max-height: max-content;
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
}

.header-approve:hover {
    background-color: var(--grey);
}

.profile__image {
    float: left;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 0;
    margin-left: 15px;
    margin-right: 10px;
    padding: 10px;
    display: flex;
}

.header-approve .name {
    max-width: max-content;
    font-size: large;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.header-approve .date {
    margin-right: 30px;
    font-size: large;
}

.tab {
    display: inline-block;
    margin-left: 20%;
}

.details {
    background-color: white;
    width: 50%;
    border-radius: 10px;
    margin-left: 20%;
}

.details .row {
    width: 100%;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-items: center;
}

.details .row .column_1 {
    width: 30%;
    padding-left: 15px;
}

.details .row .column_1 label{
    /*padding: 12px 20px;*/
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;

}

.details .row .column_2 {
    width: 50%;
    padding-left: 15px;
}

.details .row .column_2 p {
    /*padding: 12px 20px;*/
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 20px;
}

.approve_button {
    background-color: #2828CF;
    color: white;
    font-weight: bold;
    font-size: medium;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
}

.reject_button {
    background-color: #cc0000;
    color: white;
    font-weight: bold;
    font-size: medium;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
}

.reject_button:hover {
    background-color: red;
}

.approve_button:hover {
    background-color: blue;
}