@import "color.css";

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--background);
}

.main_container {
    /*border-top-right-radius: 10px;*/
    /*border-bottom-right-radius: 10px;*/
    background-color: white;
    padding: 10px;
    height: 100vh;
    /*transition: 0.5s;*/
    /*margin: 0 5px 0 255px;*/
}

.handling_title {
    font-size: x-large;
    color: var(--f);
    text-align: left;
    margin: 10px;
}

.approve-container {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}

.card-container {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

.header-approve {
    /*display: flex;*/
    flex-direction: column;
    display: inline-block;
    align-items: center;
    background-color: white;
    border: 1px solid var(--h2);
    width: 200px;
    height: 270px;
    max-height: max-content;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
}

.profile__image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0;
    padding: 10px;
}

.header-approve .name {
    text-decoration: none;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

.header-approve div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 30px;
}

.header-approve .date {
    text-align: center;
    margin: 5px 0 0;
    font-size: medium;
}

.header-approve i {
    font-size: 30px;
    margin: 0;
}

.header-approve button {
    align-self: center;
    height: 30px;
    width: 100px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: 3px solid var(--h2);
    background-color: var(--w);
    color: var(--h2);
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

/*.header-approve:hover {*/
/*    background-color: var(--h1);*/
/*    color: var(--w);*/
/*}*/

.header-approve button:hover , .header-approve:hover{
    background-color: var(--h1);
    color: var(--w);
}

.detail-container {
    width: 100%;
}

.details {
    background-color: white;
    width: 50%;
    border-radius: 10px;
    margin-left: 20%;
}

.details .row {
    width: 100%;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-items: center;
}

.details .row .column_1 {
    width: 30%;
    padding-left: 15px;
}

.details .row .column_1 label {
    /*padding: 12px 20px;*/
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

.details .row .column_2 {
    width: 50%;
    padding-left: 15px;
}

.details .row .column_2 p {
    /*padding: 12px 20px;*/
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 20px;
}

.approve_button {
    background-color: #2828CF;
    color: white;
    font-weight: bold;
    font-size: medium;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
}

.reject_button {
    background-color: #cc0000;
    color: white;
    font-weight: bold;
    font-size: medium;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
}

.reject_button:hover {
    background-color: red;
}

.approve_button:hover {
    background-color: blue;
}


/*mark attendance*/


/* .name {
    padding: 5%;
    padding-left: 10%;
    float: center;
    display: flex;
} */