@import "color.css";
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
}

.content {
    width: 100%;
}

.benefit_container {
    display: flex;
    flex-direction: column;
}

.benefit_container .benefit_head {
    background-color: white;
    max-width: 100%;
    padding: 50px;
    /*border-radius: 10px;*/
    /*margin-right: 5px;*/
    /*margin-bottom: 5px;*/
}

legend {
    margin-left: 60px;
    padding: 8px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 19px;
    color: #fff;
    background-color: #0C6170;
}

fieldset {
    width: 80%;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0;
    margin-left: 9%;
    /* display: inline-block; */
}

.benefit_container .benefit_head .claim_benefit {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: #1C1D1D;
}

.benefit_form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.benefit_form .row {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefit_form .row .column_1 {
    font-size: 18px;
    /*padding: 12px 20px;*/
    width: 25%;
    color: #1C1D1D;
    text-align: left;
    font-family: Roboto, sans-serif;
}

.benefit_form .row .column_2 {
    width: 40%;
    /*padding-left: 15px;*/
}

.heading h2 {
    max-width: 100%;
    padding: 45px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: #057a7a;
}

.column_2 select,
.column_2 input,
.column_2 textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}

.benefit_form .row .report_submission {
    width: 40%;
    height: 120px;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    border-style: dotted;
    font-family: Roboto, sans-serif;
    font-size: 15px;
}

.report_submission .file_text {
    padding-top: 10px;
    bottom: 0;
}

.report_submission p {
    justify-content: center;
    text-align: center;
}

.report_submission .upload {
    font-size: xx-large;
    opacity: 40%;
    cursor: pointer;
    padding-top: 20px;
}

.upload a {
    text-decoration: none;
}

.claim_button {
    /*padding-left: 40px;*/
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.cancle_button {
    background-color: #fcfaf9;
    border-radius: 100px;
    color: var(--red);
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    letter-spacing: 2px;
    border: 1.5px solid black;
    margin-left: 25px;
}

.cancle_button:hover {
    box-shadow: 0px 2px 5px var(--red);
    transform: scale(1.05);
    border-style: none;
}

input[type=submit] {
    background-color: #6fccee;
    border-radius: 100px;
    color: var(--header);
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 7px 30px 7px 30px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    letter-spacing: 2px;
    margin-left: 5%;
    margin-right: 7%;
    border: 1.5px solid var(--header);
}

input[type=submit]:hover {
    box-shadow: 0px 2px 5px var(--header);
    transform: scale(1.05);
    border-style: none;
}