@import "color.css";
body {
    margin: 0;
    padding: 0;
    font-family: Robot, sans-serif;
    background-color: var(--background);
}

.content {
    width: 100%;
}

.benefit_container {
    display: flex;
    flex-direction: column;
}

.benefit_container .benefit_head {
    background-color: white;
    max-width: 100%;
    padding: 10px;
    /*border-radius: 10px;*/
    /*margin-bottom: 5px;*/
    /*margin-left: 0;*/
    /*margin-right: 5px;*/
}

hr {
    margin-top: 0;
    margin-bottom: 32px;
    padding: 0 0 0 26px;
    margin-left: 16px;
    background-color: rgba(213, 211, 211, 0.99);
}


/* use .main_title class for every title style */

.main_title {
    width: 98%;
    color: #232F34;
    font-size: x-large;
    font-weight: bold;
    display: block;
    padding-bottom: 0px;
    padding-left: 16px;
    margin-bottom: 8px;
}

 .benefit_card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.benefit_card_column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

 .benefit_card .card {
    padding: 10px;
    height: auto;
    /*background-color: rgb(255, 255, 255);*/
    background-color: #dbe3e6;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, .50);
}

.benefit_card .card:hover {
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 1);
}

.benefit_card:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

 .benefit_card .card p {
    font-size: small;
}

 .benefit_card .card .title {
    margin-top: 0;
    padding-top: 5px;
    height: 30px;
    color: var(--h1);
    font-size: larger;
    font-weight: bold;
}

.benefit_card .card .text {
    color: #344955;
    margin-bottom: 5px;
    opacity: 90%;
}

 .benefit_card .card .remain_amount {
    color: var(--h1);
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 20px;
}

 .benefit_card .card .max_amount {
    color: #232F34;
    font-weight: bold;
    font-size: medium;
    margin-bottom: 20px;
}

.card button {
    background-color: var(--h1);
    width: 70%;
    height: 40px;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

.card button:hover {
    background-color: #084552;
}

a .change_button {
    background-color: var(--change_button);
    border-radius: 100px;
    color: var(--header);
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    letter-spacing: 2px;
}

a .change_button:hover {
    box-shadow: 0 2px 5px var(--header);
    transform: scale(1.05);
}

a .delete_button {
    background-color: #f1c4bd;
    border-radius: 100px;
    color: var(--red);
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    letter-spacing: 2px;
}

a .delete_button:hover {
    box-shadow: 0px 2px 5px var(--red);
    transform: scale(1.05);
}


/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAA */

.benefit_history {
    background-color: white;
    max-width: 100%;
    /*padding: 10px;*/
    /*border-radius: 10px;*/
    /*margin-bottom: 5px;*/
    /*margin-left: 0;*/
    /*margin-right: 5px;*/

    padding: 10px 10px 10px 16px;
    /*box-shadow: 3px 5px 15px rgba(0, 0, 0, .15);*/
}

.history_header {
    display: flex;
    justify-content: left;
    padding: 5px 5px 0 16px;
    padding-left: 0;
}

.benefit_history .history_header .item {
    padding-right: 10px;
    padding-bottom: 0;
    padding-left: 5px;
    margin: auto auto 10px;
    font-size: 20px;
}

.history_header .main_title {
    font-size: large;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    padding-left: 0;
    margin-bottom: 5px;
}

.history_header i{
    margin: auto;
    vertical-align: middle;
    padding-right: 10px;
    padding-left: 15px;
    padding-top: 5px;
    color: var(--f);
}

.pending_benefits {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /*margin: 15px;*/
    font-size: medium;
    height: 50px;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
}

.pending_benefits div {
    justify-content: center;
    font-size: medium;
    width: 20%;
    color: #344955;
}

/*.benefit_container .benefit_history #benefit_history_result {*/
/*    margin: 10px;*/
/*}*/

.benefit_type {
    margin: 20px;
}

.benefit_type select {
    width: 200px;
    height: 40px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 40px;
    margin: 8px 0 8px 10px;
}

.feather-clipboard {
    margin: auto;
    padding-right: 10px;
}


#benefit_history_result{
    width: 95%;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
}

table {
    padding-top: 10px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

table tr {
    border-right: 2px solid var(--h2);
    border-left: 2px solid var(--h2);
    border-top: 2px solid var(--h2);
    border-bottom: 2px solid var(--h2);
}

table th, table td {
    height: 56px;
    text-align: left;
    padding-left: 8px;
}

table th {
    height: 56px;
}

table td {
    height: 52px;
}

tr:nth-child(even) {
    background-color: var(--h2);
}