:root {
    --header: #065B7A;
    --header_dark : #063f53;
    --grey: #DCDCE0;
    --light_green: #E4F1F5;
    --blue: #2828CF;
    --light_blue :#5B7CFE;
    --background : #EEEEEE;
    --background_light:#F4F6F8;
    --red: #FF2300;
    --black: #0D0D0D;
    --dark_white: #D3DBDD;
}
