body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
    background-color: white;
    background-image: url("public/img/wave.svg");
    max-height: 100%;
}


.main_container {
    padding: 10px;
    height: 100%;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
}

.details {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-height: 100%;
    margin: auto;
    margin-top: 0;
    /* margin-bottom: 0; */
    /* justify-content: center; */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, .20);
}

.details svg{
    display: block;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 5px;
}

.employee{
    width: 90%;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 0;
    border-radius: 10px;
    /* z-index: 1; */
}

.head {
    width: 90%;
    padding: 10px;
    text-align: left;
    font-size: large;
    color: var(--header);
    font-weight: bolder;
    display: flex;
    margin: auto;
}

.search{
    padding: 12px;
}


.head select {
    width: 250px;
    height: 40px;
    font-size: large;
    border-radius: 20px;
    padding-left: 10px;
}

.title {
    color: var(--header);
    font-size: larger;
    font-weight: bolder;
}

.data {
    width: 100%;
    margin: 5px;
    border-radius: 10px;
}

.data :hover {
    box-shadow: 3px 5px 15px rgba(0, 0, 0, .20);
}

.cards {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background-color: white;
    display: flex;
    border-radius: 10px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, .10);
    cursor: pointer;
    border-radius: 10px;
}

.cards :hover {
    box-shadow: none;
}

.manager {
    height: auto;
}

.img {
    height: 45px;
    width: 45px;
    background-image: url(../img/1900913.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2.5px;
    margin-left: 5px;
    border-radius: 50%;
}

img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.name,
.role,
.email {
    width: 30%;
    /* overflow: scroll; */
    overflow-y: hidden;
   
    text-align: center;
    color: rgba(0, 0, 0, 0.603);
    font-weight: bold;
    font-size: medium;
}

.butons {
    width: 10%;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
   
}

.button-btn {
    width: auto;
    color: rgb(255, 255, 255);
    font-size: medium;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    border-style: none;
    margin: auto;
}

#edit {
    /* background-color: blue; */
    color: #58ccf7;
    background-color: white;
}

#delete {
    color: rgb(240, 88, 88);
    background-color: white;
}

input {
    width: 0;
    visibility: hidden;
}

.butons :hover {
     font-size: large;
}

@media screen and (max-width: 640px) {

    .role{
        display: none;
    }

    .name,
    .email {
        width: 45%;
    }

    .main_container {
        max-width: 100%;
        padding:5px
        /* padding-left: 5px; */
    }
    
    .employee{
        width:99%;
        margin:auto;
    }

    .details{
        width: 100%;
    }
    .data {
        width: 95%;
        margin:auto;
        /* margin: 5px; */
    }
    .name,
    .email {
        color: rgba(0, 0, 0, 0.603);
        font-weight: bold;
        font-size: small;
    }
    .butons {
        width: 15%;
        font-size: small;
        display: flex;
        justify-content: space-between;
    }
    button {
        font-size: small;
    }
    .cards {
        margin: 2px;
        margin-top: 5px;
    }
}