@import "color.css";
footer {
    /* position: absolute; */
    width: 100%;
    height: 70px;
    background-color: var(--header);
    text-align: center;
    bottom: 0;
}

.ofs {
    color: var(--grey);
    font-size: 15px;
    margin: auto;
    padding-top: 25px;
}