@import "color.css";
body {
    font-family: Arial, serif;
}

.header1 {
    height: 80px;
    background-color: #5016d0;
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 100%;
    /* margin-bottom: 5px; */
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.header1 nav {
    display: flex;
    position: relative;
    width: 70%;
    background-color: #5016d0;
    margin-bottom: 5px;
    border-radius: 5px;
}

.header1 nav ul {
    display: flex;
    justify-content: left;
    list-style: none;
    text-align: center;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    width: 100%;
}

.header1 nav ul li {
    display: inline-block;
    width: max-content;
}

.header1 nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    width: max-content;
    /*color: #aaa;*/
    color: var(--light_green);
    font-size: larger;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 5px;
}

.header1 nav ul li a,
.header1 nav ul li a:after,
.header1 nav ul li a:before {
    transition: all .5s;
}

.header1 nav ul li a:hover {
    /*color: #555;*/
    color: #c7e2ea;
}


/* stroke */

.header1 nav.list1 ul li a {
    position: relative;
}

.header1 nav.list1 ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    content: '.';
    color: transparent;
    background: #c7e2ea;
    height: 1px;
}

.header1 nav.list1 ul li a:hover:after {
    width: 100%;
}


/* bell notification*/

.icon-button {
    position: relative;
    display: flex;
    right: 5%;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    top: 20px;
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
}

.icon-button:hover {
    cursor: pointer;
}

.icon-button:active {
    background: #cccccc;
}

.icon-button_badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon-button a {
    color: #333333;
}