@import "color.css";
body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.header1 {
    height: 80px;
    background-color: #0C6170;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 100%;
}

.toggle_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.logged_name {
    color: #d9e8ea;
    margin-left: 20px;

}

.notification {
    margin-left: 20px;
}

.ofs {
    font-family: Rockwell, cursive;
    font-size: xxx-large;
    font-weight: bold;
    max-width: max-content;
}

.header1 nav {
    display: flex;
    position: relative;
    width: 70%;
}

.header1 nav ul {
    display: flex;
    justify-content: left;
    list-style: none;
    text-align: center;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    width: 100%;
}

.header1 nav ul li {
    display: inline-block;
    width: max-content;
    /*margin: auto;*/
    /*margin-bottom: 20px;*/
    /*vertical-align: middle;*/
}

.header1 nav ul li a {
    display: block;
    text-decoration: none;
    width: max-content;
    /*color: #aaa;*/
    color: var(--light_green);
    font-size: larger;
    font-weight: 800;
    text-transform: uppercase;
    padding: 10px 15px 15px;
    /*margin: 20px;*/
    /*padding-bottom: 15px;*/
}

.header1 nav ul li a,
.header1 nav ul li a:after,
.header1 nav ul li a:before {
    transition: all .5s;
}

.header1 nav ul li a:hover {
    /*color: #555;*/
    color: #c7e2ea;
}


/* stroke */

.header1 nav.list1 ul li a {
    position: relative;
}

.header1 nav.list1 ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    content: '.';
    color: transparent;
    background: #c7e2ea;
    height: 2px;
}

.header1 nav.list1 ul li a:hover:after {
    width: 100%;
}


/* bell notification*/

.icon-button {
    position: relative;
    display: flex;
    right: 5%;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    /*top: 27px;*/
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
    margin-left: 20px;
}

.icon-button:hover {
    cursor: pointer;
}

.icon-button:active {
    background: #cccccc;
}

.icon-button_badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon-button a {
    color: #333333;
}

.dd_main {
    margin-right: 30px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    position: relative;
}

.dd_menu {
    position: absolute;
    right: -35px;
    top: 47px;
    /*display:flex;*/
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    display: none;
    cursor: default;
    z-index: 4;
}

.dd_menu ul {
    margin: 0;
    padding: 0;
}

.dd_menu .dd_left {
    width: 30px;
    background-color: var(--h1);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px 10px 5px;
}

.dd_menu .dd_left li {
    padding-top: 5px;
}

.dd_menu .dd_left a {
    color: white;
    list-style-type: none;
    padding-left: 10px;
    cursor: pointer;
}

.dd_menu .dd_right {
    width: 100px;
    padding: 10px 20px 10px 5px;
}

.dd_menu .dd_right li {
    padding-top: 5px;
    cursor: pointer;
}

.dd_right li a {
    text-decoration: none;
}

.dd_menu li {
    margin-bottom: 10px;
    margin-top: 10px;
    color: #868686;
    list-style-type: none;
    cursor: pointer;
    font-weight: bold;
}

.dd_menu::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 45px;
    border: 10px solid;
    border-color: transparent transparent #fff transparent;
}

.dd_main.active .dd_menu {
    display: flex;
}