@import "color.css";
body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    width: 80%;
    height: auto;
    padding: 0;
}

.header2 {
    height: 70px;
    display: flex;
}


/* NAVIGATION */

.header2 .stroke {
    display: flex;
    width: 100%;
    background-color: #e4f9fc;
}

.header2 .stroke ul, .header2 .stroke2 ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    width: 100%;
    align-items: center;
}

.header2 .stroke ul li, .header2 .stroke2 ul li {
    display: inline-block;
    justify-content: space-evenly;
}

.header2 .stroke ul li a, .header2 .stroke2 ul li a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: var(--h1);
    font-weight: 800;
    text-transform: uppercase;
    justify-content: center;
    width:fit-content;
}

.header2 .stroke ul li a,
.header2 .stroke ul li a:after,
.header2 .stroke ul li a:before,
.header2 .stroke2 ul li a,
.header2 .stroke2 ul li a:after,
.header2 .stroke2 ul li a:before{
    transition: all .5s;
}

.header2 .stroke ul li a:hover, .header2 .stroke2 ul li a:hover {
    color: #212121;
}


/* stroke */

.header2 .stroke ul li a, .header2 .stroke2 ul li a {
    position: relative;
}

.header2 .stroke ul li a:after, .header2 .stroke2 ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    content: '.';
    color: transparent;
    background: #212121;
    height: 2px;
}

.header2 .stroke ul li a:hover:after, .header2 .stroke2 ul li a:hover:after {
    width: 100%;
}

/*Responsive*/
.header2 .stroke2 {
    display: none;
    width: 100%;
    background-color: #e4f9fc;
}


@media screen and (max-width: 780px) {
    .header2 .stroke2 {
        display: flex;
    }
    .header2 .stroke {
        display: none;
    }
    .header2 .stroke2 a {
        font-size: x-large;
    }
}