@import "color.css";
body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: var(--header);
}

.nav-bar {
    width: 100vw;
    /*height: 100px;*/
    align-items: center;
    text-align: center;
}

.nav-bar ul {
    max-width: 50%;
    height: 75%;
    padding-left: 200px;
    display: flex;
    justify-content: normal;
}

.nav-bar ul li {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    list-style: none;
}

.nav-bar ul li a {
    padding: 25px;
    font-size: 20px;
    text-decoration: none;
    /*color: #D3DBDD;*/
    color: var(--dark_white);
    display: block;
}

.nav-bar li:hover {
    background-color: darkgray;
}


/* bell notification*/

.icon-button {
    position: relative;
    display: flex;
    right: 15%;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    top: 0px;
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
}

.icon-button:hover {
    cursor: pointer;
}

.icon-button:active {
    background: #cccccc;
}

.icon-button_badge {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon-button a {
    color: #333333;
}