@import "color.css";

.content {
    width: 80%;
    height: auto;
    padding: 0%;
}

.header2 {
    height: 80px;
    background-color: #E4F1F5;
    display: flex;
    font-family: Arial;
    position: relative;
}

.nav-bar2 {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
}

.list {
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
}

.nav-bar2 .list a {
    display: block;
    color: var(--black);
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    padding: 25px;
}

.nav-bar2 .icon {
    display: none;
}

.nav-bar2 a:hover {
    background-color: var(--grey);
    height: 100%;
    color: black;
}

