@import "color.css";
.header2 {
    /* width: 100%; */
    height: 80px;
    background-color: #E4F1F5;
    display: flex;
    font-family: Arial;
    position: relative;
}

.content {
    width: 80%;
    height: auto;
    padding: 0%;
}

.nav-bar2 {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
}

.list {
    width: 100%;
    height: 100%;
    float: left;
    text-align: center;
}

.nav-bar2 .list a {
    display: block;
    color: var(--black);
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    padding: 25px;
}

.nav-bar2 .icon {
    display: none;
}

.nav-bar2 a:hover {
    background-color: var(--grey);
    color: black;
}

.profile_container {
    display: flex;
    background-color: #E5EDF7;
    max-width: 100%;
    height: 100%;
}

.profile {
    font-family: Arial;
    text-align: center;
    width: 20%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.profile__image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 0;
    padding: 10px;
}

.name {
    padding-top: 30px;
    font-weight: bold;
    font-size: 1.4em;
    color: var(--black);
}

.job {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: var(--black);
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    margin-bottom: 20px;
    color: var(--black);
}

.email {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    margin-bottom: 20px;
    color: var(--black);
}

.hire {
    font-size: 0.9em;
    font-weight: bold;
    color: var(--header);
}

.date {
    font-size: 0.8em;
    margin-bottom: 20px;
    color: var(--black);
}

.address {
    font-size: 0.9em;
    margin-bottom: 20px;
    color: var(--black);
}

.supervisor {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--header);
}