* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

.hrdocuments_container {
    background-color: #E5EDF7;
    height: 100%;
}

.h1 {
    text-align: center;
    color: #065B7A;
    padding-top: 20px;
}

.column {
    float: left;
    width: 30%;
    padding-left: 120px;
    padding-bottom: 80px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

.card img {
    padding-bottom: 10px;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    height: fit-content;
}


/* Darker background on mouse-over */

.btn:hover {
    background-color: RoyalBlue;
}


/* Responsive columns - one column layout (vertical) on small screens */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}