@import "color.css";

.selectWrapper {
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}

.selectBox {
    position: absolute;
    background: var(--grey);
    width: 63px;
    height: 59px;
    opacity: 1;
    border-radius: 50%;
    top: 30px;
    /*left: 1339px;*/
    left: 91%;
}