@import "color.css";
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: var(--background);
}

.reimbursement_container {
    display: flex;
    flex-direction: column;
}

.content {
    width: 100%;
}

.reimbursement_details {
    background-color: white;
    max-width: 100%;
    padding: 50px;
    border-radius: 10px;
    margin: 0 5px 5px 0;
}

.heading h2 {
    max-width: 100%;
    padding: 2px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: #057a7a;
}

.row {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column_1 {
    font-size: medium;
    /*padding: 12px 20px;*/
    width: 20%;
    color: #1C1D1D;
    text-align: left;
}

.column_2 {
    width: 40%;
}

.column_2 input,
.column_2 textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.invoice_submission {
    width: 40%;
    height: 120px;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    border-style: dotted;
}

.apply_button {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.cancle_button {
    background-color: #fcfaf9;
    border-radius: 100px;
    color: var(--red);
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    letter-spacing: 2px;
    border: 1.5px solid black;
    margin-left: 15px;
}

.cancle_button:hover {
    box-shadow: 0px 2px 5px var(--red);
    transform: scale(1.05);
    border-style: none;
}

/* History Section*/

.reimbursement_container .history {
    background-color: white;
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px;
    padding: 10px 10px 10px 16px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, .15);
}

hr {
    margin-top: 0;
    margin-bottom: 32px;
    padding: 0 0 0 26px;
    margin-left: 16px;
    background-color: rgba(213, 211, 211, 0.99);
}

.history_header {
    display: flex;
    justify-content: left;
    padding: 5px 5px 0 16px;
}

.history_header .main_title {
    font-size: large;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    padding-left: 0;
    margin-bottom: 5px;
}

input[type=submit] {
    background-color: #6fccee;
    border-radius: 100px;
    color: var(--header);
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 7px 30px 7px 30px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    /*border: 0;*/
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    letter-spacing: 2px;
    margin-left: 2%;
    margin-right: 10%;
    border: 1.5px solid var(--header);
}

input[type=submit]:hover {
    box-shadow: 0px 2px 5px var(--header);
    transform: scale(1.05);
    border-style: none;
}

a .delete_button {
    background-color: #f1c4bd;
    border-radius: 100px;
    color: var(--red);
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    letter-spacing: 2px;
}

.delete_button:hover {
    box-shadow: 0px 2px 5px var(--red);
    transform: scale(1.05);
}

a .update_button {
    background-color: var(--change_button);
    border-radius: 100px;
    color: var(--header);
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    letter-spacing: 2px;
}

.update_button:hover {
    box-shadow: 0px 2px 5px var(--header);
    transform: scale(1.05);
}

.pending_items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: medium;
    height: 50px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.pending_items div {
    justify-content: center;
    font-size: medium;
    width: 20%;
    color: #344955;
}

#claim_history_table {
    width: 95%;
    padding: 20px 0;
    margin-left: auto;
    margin-right: auto;
}

table {
    padding-top: 10px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

table tr {
    border-right: 2px solid var(--h2);
    border-left: 2px solid var(--h2);
    border-top: 2px solid var(--h2);
    border-bottom: 2px solid var(--h2);
}

table th, table td {
    height: 56px;
    text-align: left;
    padding-left: 8px;
}

table th {
    height: 56px;
}

table td {
    height: 52px;
}

tr:nth-child(even) {
    background-color: var(--h2);
}


/* Delete confirmation CSS styles*/

.delete-body {
    justify-content: center;
    padding-top: 10%;
    padding-left: 30%;
    text-align: center;
}

.confirmation {
    border-radius: 15px;
    border: 2px solid;
    padding: 30px;
    width: 45%;
    margin-left: 2%;
}

.h3 {
    font-weight: bold;
    justify-content: center;
}

.delete-confirmation {
    background-color: #a4dff5;
    border-radius: 100px;
    color: var(--header);
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    letter-spacing: 2px;
    margin-right: 10%;
    border: 1.5px solid var(--header);
}

.delete-confirmation:hover {
    box-shadow: 0px 2px 5px var(--header);
    transform: scale(1.05);
    border-style: none;
}

.cancle-confirmation {
    background-color: #fcfaf9;
    border-radius: 100px;
    color: var(--red);
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    letter-spacing: 2px;
    border: 1.5px solid black;
}

.cancle-confirmation:hover {
    box-shadow: 0px 2px 5px var(--red);
    transform: scale(1.05);
    border-style: none;
}

.update-confirmation {
    background-color: #a4dff5;
    border-radius: 100px;
    color: var(--header);
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    letter-spacing: 2px;
    margin-left: 33%;
    margin-right: 10%;
    margin-top: 10%;
    border: 1.5px solid var(--header);
}

.update-confirmation:hover {
    box-shadow: 0px 2px 5px var(--header);
    transform: scale(1.05);
    border-style: none;
}


/*Reimbursement Update part CSS Styles*/

.update-body {
    border-radius: 15px;
    border: 2px solid;
    padding: 30px;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    align-content: center;
}

.heading-2 {
    padding: 10px;
}

.heading-2 h2 {
    padding: 10px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: #1C1D1D;
}


/* Clear floats after the columns */



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */


/* 
@media screen and (max-width: 600px) {
    .column_1,
    .column_2,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
} */