* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--background);
}

.main_container {
    /*border-top-right-radius: 10px;*/
    /*border-bottom-right-radius: 10px;*/
    background-color: white;
    padding: 10px;
    height: 100vh;
    /*transition: 0.5s;*/
    /*margin: 0 5px 0 255px;*/
}

.title {
    font-size: x-large;
    color: var(--f);
    text-align: left;
    margin: 10px;
    font-weight: bold;
}


.details {
    display: flex;
    flex-direction: column;
}

.head {
    padding: 10px;
    text-align: left;
    font-size: x-large;
    font-weight: bolder;
}

.approve-container {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, .15);
}

.data {
    /*width: 90%;*/
    /*margin: 5px;*/
    /*border-radius: 10px;*/
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    /* box-shadow: 3px 5px 15px rgba(0,0,0,.20); */
}

/*.data :hover {*/
/*    box-shadow: 3px 5px 15px rgba(0, 0, 0, .30);*/
/*}*/

.cards {
    flex-direction: column;
    display: inline-block;
    align-items: center;
    background-color: white;
    border: 1px solid var(--h2);
    width: 200px;
    height: 270px;
    max-height: max-content;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
}

.cards:hover {
    background-color: var(--h1);
}

.manager {
    height: auto;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px;
    margin: 0 0 20px;
}

.name {
    text-decoration: none;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

.name p {
    margin: 0;
}

.email {
    text-align: center;
    margin: 5px 0 0;
    font-size: medium;
}

.options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
    margin-top: 30px;
}

#edit {
    background-color: blue;
}

#delete {
    background-color: red;
}

input {
    width: 0;
    visibility: hidden;
}

.button :hover {
    height: 31px;
    /* padding: 6px; */
    box-shadow: 3px 5px 15px rgba(0, 0, 0, .75);
}

@media screen and (max-width: 640px) {
    .main_container {
        width: 100%;
        padding-left: 5px;
    }
    .data {
        width: 95%;
        /* margin: 5px; */
    }
    .name,
    .email {
        opacity: 65%;
        font-weight: bold;
        font-size: small;
    }
    .butons {
        font-size: small;
        display: flex;
        justify-content: space-between;
    }
    button {
        font-size: small;
    }
    .cards {
        margin: 2px;
        margin-top: 5px;
    }
}