body {
    font-family: Roboto, sans-serif;
    background-color: var(--background)
}

.main_container {
    background-color: white;
    padding: 10px;
    height: 100%;
}

.handling_title {
    font-size: x-large;
    color: var(--f);
    text-align: left;
    margin: 10px;
    font-weight: bold;
}

.document_list {
    width: auto;
    border-radius: 10px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, .15);
    padding: 20px;
    margin-bottom: 10px;
}

.document_list table {
    width: 100%;
}

.document_list table tr td i {
    padding-right: 20px;
}

.main_container .benefit_head {
    background-color: white;
    max-width: 100%;
    padding: 50px;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    /* display: flex;
    flex-direction: row; */
}

legend {
    margin-left: 60px;
    padding: 8px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: #0C6170;
}

fieldset {
    width: 60%;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0;
    /* display: inline-block; */
}

.row {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.column_1 {
    font-size: medium;
    /*padding: 12px 20px;*/
    width: 20%;
    color: #1C1D1D;
    text-align: left;
    margin-right: 30%;
}

.column_2 {
    width: 50%;
}

.column_2 input,
.column_2 textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.d_submission {
    width: 50%;
    height: 120px;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    border-style: dotted;
    margin-top: 10px;
}

.d_button {
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.cancle_button {
    background-color: #fcfaf9;
    border-radius: 100px;
    color: var(--red);
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    letter-spacing: 2px;
    border: 1.5px solid black;
    margin-left: 15px;
}

.cancle_button:hover {
    box-shadow: 0px 2px 5px var(--red);
    transform: scale(1.05);
    border-style: none;
}

input[type=submit] {
    background-color: #6fccee;
    border-radius: 100px;
    color: var(--header);
    cursor: pointer;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 7px 30px 7px 30px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    /*border: 0;*/
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    letter-spacing: 2px;
    margin-left: 2%;
    margin-right: 10%;
    border: 1.5px solid var(--header);
}

input[type=submit]:hover {
    box-shadow: 0px 2px 5px var(--header);
    transform: scale(1.05);
    border-style: none;
}
