body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: aqua; */
}

input {
    outline: none !important;
    font-size: large;
    border-style: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.418);
    color: var(--header_dark);
}

.main_container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.main_container .form {
    width: 70%;
    margin: 8px;
    padding-bottom: 20px;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_container .form .title {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    /* background-color: var(--blue); */
}

.main_container .form .input_feild {
    max-width: 100%;
}

.main_container .form .input_feild .detail {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.main_container .form .input_feild form {
    max-width: 100%;
    opacity: 75%;
    display: flex;
    flex-direction: column;
}

.main_container .form .input_feild form div {
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.main_container .form .input_feild div label {
    display: block;
    width: 200px;
    height: 30px;
    /* background-color: aqua; */
}

.main_container .form .input_feild div input {
    padding-left: 10px;
    width: 100%;
}

.main_container .form .input_feild form .address {
    display: flex;
    flex-direction: column;
}

.main_container .form .input_feild form div .address_content {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    max-width: 100%;
}

.main_container .form .input_feild form div .address_content input {
    padding-left: 10px;
    height: 30px;
}

.main_container .form .input_feild form div .address_content label {
    display: block;
    width: 150px;
    text-align: left;
    padding: 4px;
}

.main_container .form .input_feild form .marital input {
    width: 40px;
    padding-left: 10px;
    height: 15px;
}

.main_container .form .input_feild form div select {
    border-radius: 3px;
    height: 30px;
    padding: 4px;
    font-size: large;
}

.main_container .form .input_feild form .buttons {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

#email_current {
    width: 0;
    visibility: hidden;
}

#set {
    width: 0;
    visibility: hidden;
}

.main_container .form .input_feild form .buttons button {
    width: 150px;
    color: rgb(255, 255, 255);
    font-size: large;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, .50);
    border-style: none;
    /* box-shadow: 3px 6px 6px ; */
}

.main_container .form .input_feild form .buttons #cancel {
    background-color: red;
}

.main_container .form .input_feild form .buttons #add {
    background-color: blue;
}

.main_container .form .input_feild form .buttons :hover {
    height: 41px;
    width: 152px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, .75);
}

@media screen and (max-width: 1000px) {
    .main_container {
        /* margin: 4%; */
        max-width: 100%;
        /* padding-right: 5px; */
        flex-direction: column-reverse;
    }
    .main_container .form {
        /* max-width: 100%; */
        width: 100%;
        margin: 0px;
        margin-bottom: 10px;
        /* padding: 5px; */
    }
}

@media screen and (max-width: 737px) {
    .main_container {
        margin: 1%;
    }
    .main_container .form .input_feild form div {
        display: flex;
        flex-direction: column;
    }
    .main_container .form .input_feild form div .address_content {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
    .main_container .form .input_feild form div .address_content label {
        text-align: start;
        padding: 8px;
    }
    .main_container .form .input_feild form .marital {
        display: flex;
        flex-direction: row;
    }
    .main_container .form .input_feild form .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}